@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #111111;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    overflow-x: hidden;      
}
@font-face {
    font-family: font1;
    src: url(fonts/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}
@font-face {
    font-family: font2;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: font3;
    src: url(fonts/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2);
}
@font-face {
    font-family: font4;
    src: url(fonts/pxiEyp8kv8JHgFVrJJfecg.woff2);
}
@font-face {
    font-family: font5;
    src: url(fonts/WooCommerce.woff2);
}
.meckey_header{
    position: sticky;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}
.meckey_header .meckey_header_div{
    background: #0a0a0ae6;
}
.meckey_header .meckey_header_nav{
    height: 88px;
}
.meckey_header .meckey_nav_div{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 768px;
    display: grid;
    grid-template-columns: auto auto;
}
.meckey_header .meckey_nav_left{
    display: flex;
    align-items: center;
}
.meckey_header .meckey_left_div{
    margin: 4px 0;
    padding: 10px 0;
}
.meckey_header .meckey_left_img{
    width: 120px;
    max-width: 120px;
    height: auto;
}
.meckey_header .meckey_nav_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.meckey_header .meckey_right_div{
    margin: 4px 0 6px;
    display: flex;
    align-items: center;
}
.meckey_header .meckey_right_search{
    padding: 3px 3px 4px 3px;
    display: flex;
}
.meckey_header .meckey_search_img{
    width: 15px;
    height: 15px;
}
.meckey_header .meckey_right_login{
    display:  flex;
    margin: 4px 0;
    padding: 3px 3px 4px 3px;
}
.meckey_header .meckey_right_cart{
    padding: 3px 3px 4px 3px;
    display: flex;
    align-items: center;
    position: relative;
}
.meckey_header .meckey_cart_div{
    margin: 4px 0;
    height: 15px;
}
.meckey_header .meckey_cart_count{
    background: #f4f5f7;
    color: #111111;
    position: absolute;
    font-size: 7px;
    padding: 3px;
    bottom: 1px;
    right: -10px;
    font-weight: 600;
    line-height:1;
    border-radius: 3px;
    font-family:Poppins,sans-serif;
}
.meckey_header .meckey_right_burger{
    margin-left: 15px;
}
.meckey_header .meckey_burger_button{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #0a0a0ae6;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    
}
.meckey_header .meckey_single_layer{
    display: block;
    background-color: #ffffff;
    width: 15px;
    height: 2px;
}
.meckey_header .meckey_middle_layer{
    margin: 3px 0;
}
.meckey_main{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 768px;
    display: flex;
}
.meckey_main .meckey_main_div{
    margin-bottom: 30px;
    margin-top: 30px;
    flex-grow: 1;
}
.meckey_main .meckey_product_path{
    margin-bottom: 19px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.meckey_main .meckey_path{
    margin: 0 0 13px;
    height: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.meckey_main .meckey_home{
    color: #333333;
}
.meckey_main .meckey_slash{
    padding: 0 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
}
.meckey_main .meckey_text{
    font-size: 14px;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}
.meckey_main .meckey_keyboard{
    color: #111111;
}
.meckey_main .meckey_showing_result{
    font-size: 14px;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
    line-height: 14px;
    color: #111111;
    font-weight: 400;
}
.meckey_main .meckey_filter_option{
    padding: 10px 0 20px;
}
.meckey_main .meckey_filter_text{
    display: inline-block;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: inset 0 0 0 1px #363636;
    font-size: 13.2px;
    font-weight: 400;
    line-height: 1.25em;
    margin-right:8px;
    padding: 8px 12px;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
}
.meckey_main .meckey_filter_logo{
    margin-bottom: -2px;
    margin-left: 3px;
    transform: scale(1.2);
}
.meckey_products{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 40px 30px;
    margin-bottom: 60px;
    max-width: 100vw;
    padding: 0 15px;
    margin-top: 16px;
}
.meckey_products .meckey_product_div{
    display: flex;
    flex-direction: column;
    position: relative;
}
.meckey_products .product_img{
    width: 100%;
    height: auto;
}
.meckey_products .meckey_product_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}
.meckey_products .meckey_product_list{
    list-style-type: none;
}
.meckey_products .product_name_text{
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #111111;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
    padding-bottom: 7.5px;
}
.meckey_products .product_rating{
    color: #ffb100;
    font-size: 15px;
    display: inline-block;
}
.meckey_products .product_prices{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 0.5em;
}
.meckey_products .product_orginal{
    color: #969494;
    text-decoration: line-through;
    font-size: 12px;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
    font-weight: 500;
}
.meckey_products .meckey_product_img{
    position: relative;
}
.meckey_products .product_discount{
    font-size: 12px;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
    font-weight: 500;
}
.meckey_products .meckey_product_like{
    position: absolute;
    right: 10px;
    padding: 12px 0;
    bottom: 0;
    z-index: 1;
}
.meckey_products .meckey_like_div{
    background-color: #333333;
    border-radius: 4px;
    display: flex;
    padding: 6px 10px;
}
.meckey_products .meckey_like_logo{
    width: 16px;
    height: 16px;
}
.price_page {
  display: none;
  background-color: #fff;
  flex-direction: column;
  width: 100%;
}
.price_page .arrow_back_div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 10px 16px;
    position: fixed;
    top: 0;
    z-index: 11;
    width: 100%;
}
.price_page .arrow_back{
    border-radius: 4px;
    padding: 8px;
    height: 36px;
}
.price_page .price_newpg_text{
    color: #767676;
    font-size: 18px;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
    line-height: 23px;
    margin: 0 8px;
}
.price_page .price_range{
    margin-bottom: 100px;
    margin-top: 58px;
    padding-left: 18px;
    padding-right: 18px;
}
.price_page .price_range_div{
    border-bottom: 1px solid #f2f2f2;
    padding: 27.6px 10px 15px;
}
.price_page .price_range_margin{
    margin-bottom: 30px;
}
.price_page .price_blocks{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    height: 45px;
    justify-content: space-around;
}
.price_page .price_each_block{
    background-color: #000000;
    opacity: 0.5;
}
.price_page .price_range_line{
    position: relative;
}
.price_page .price_range_line::before{
    content: "";
    position: absolute;
    left: -9px;
    right: -9px;
    z-index: 0;
    background-color: #767676;
    height: 2px;
}
.price_page .price_outside_line{
    position: absolute;
    left: 0%;
    width: 100%;
    background-color: #000000;
    height: 4px;
}
.price_page .thumb::-webkit-slider-thumb {
  pointer-events: all;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 4px solid #000000;
  border-radius: 100%; 
  cursor: pointer;
  -webkit-appearance: none;
}
.price_page .thumb{
    appearance: none;
    pointer-events: none;
    position: absolute;
    top:50%;
    outline: none;
    height: 0;
    width: 100%;
}
.price_page .price_left_thumb{
    z-index: 3;
}
.price_page .price_right_thumb{        
    z-index: 4;
}
.price_page .price_left_thumb::-webkit-slider-thumb {
  transform: translateX(-50%);
}

.price_page .price_right_thumb::-webkit-slider-thumb {
  transform: translateX(50%);
}

.price_page .price_min_max{
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0.7em;
    color: #111111;
    font-size: 14px;
    line-height: 14px;
    font-family:  'Poppins','Lucida Console', 'Monaco', monospace;
}
.price_page .price_page_seeproduct{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    padding: 16px 18px;
}
.price_page .see_product_text{
    background-color: #363636;
    border: 1px solid #161616;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
    line-height: 18px;
    padding: 8px 12px;
    text-align: center;
    width: 100%;
}
.brand_page{
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 100001;
}
.brand_page .arrow_back_div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 10px 16px;
    position: fixed;
    top: 0;
    background-color: #fff;
    left: 0;
    right: 0;
    z-index: 10;
}
.brand_page .arrow_back{
    padding: 8px;
    display: inline-block;
    height: 36px;
}
.brand_page .price_newpg_text{
    color: #767676;
    font-size: 18px;
    line-height: 23px;
    margin: 0 8px;
    font-family:'Poppins','Lucida Console', 'Monaco', monospace;
}
.brand_page .brand_page_content{
    margin-bottom: 100px;
    margin-top: 58px;
    padding-left: 18px;
    padding-right: 18px;
}
.brand_page .brand_content_div{
    border-bottom: 1px solid #f2f2f2;
    padding: 27.6px 0 15px;
}
.brand_page .brand_content_ul{
    list-style: none;
}
.brand_page .brand_content_li{
    padding: 0 0 .5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.brand_page .brand_checkbox{
    border-radius: .175em;
    box-shadow: inset 0 0 0 1px #767676;
    height: 20px;
    min-width: 20px;
    width: 20px;
    margin-right: .6em;
    position: relative;
}
.brand_page .brand_name_text,.brand_page .brand_more_text{
    color: #161616;
    line-height: 1.5em;
    font-size: 14px;
    font-family:'Poppins','Lucida Console', 'Monaco', monospace;
}
.brand_page .checkbox_logo{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
 .brand_page_clear{
    background-color: #fff;
    border-radius: 4px;
    color: #767676;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding: 8px;
    margin-left: auto;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
}
 .brand_page_clear::before{
    color: #d9d9d9;
    content: "|";
    display: inline-block;
    font-size: 15px;
    line-height: 19px;
    margin: 0 6px 0 auto;
}
.price_page_clear{
    background-color: #fff;
    border-radius: 4px;
    color: #767676;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding: 8px;
    margin-left: auto;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
}
 .price_page_clear::before{
    color: #d9d9d9;
    content: "|";
    display: inline-block;
    font-size: 15px;
    line-height: 19px;
    margin: 0 6px 0 auto;
}
.filter_page{
    display: none;
}
.filter_content{
    margin-bottom: 66px;
    margin-top: 58px;
    padding-left: 18px;
    padding-right: 18px;
}
.price_page .filter_range_div{
    padding: 15px 0;
}
.brand_page .filter_brand_div{
    padding: 15px 0;
}
.filter_range_heading{
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}
.filter_head_text{
    align-items: center;
    color: #161616;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    gap: 3px;
    line-height: 23px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
}
.brand_page .filter_content_ul{
    padding: 12.6px 0 0;
}
.filter_page_clear{
    background-color: #fff;
    border-radius: 4px;
    color: #767676;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding: 8px;
    margin-left: auto;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
}
 .filter_page_clear::before{
    color: #d9d9d9;
    content: "|";
    display: inline-block;
    font-size: 15px;
    line-height: 19px;
    margin: 0 6px 0 auto;
} 
.filter_page_stock{
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 34px;
    padding: 15px 0;
}
.stock_heading{
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}
.stock_head_text{
    align-items: center;
    color: #161616;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    gap: 3px;
    line-height: 23px;
    font-family: 'Poppins','Lucida Console', 'Monaco', monospace;
}
.stock_options{
    padding: .9em 0 0
}
.stock_ul{
    list-style: none;
}
.stock_li{
    padding: 0 0 .5em;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.stock_radio{
    border-radius: 100%;
    background-color: transparent;
    height: 1.33em;
    width: 1.33em;
    margin-right: .6em;
    box-shadow: inset 0 0 0 1px #767676;
}
.stock_option{
    font-size: 14px;
    font-family:'Poppins','Lucida Console', 'Monaco', monospace ;
    color: #161616;
    line-height: 1.5em;
}
.stock_radio.active {
  box-shadow: inset 0 0 0 4px #000000;
}